 <form action="{{ url('theme://templates/partials/email_send.php') }}" method="POST">
	<div class="row">
	  <div class="col-12">
	    <span class="input input--nao">
	      <input class="input__field input__field--nao" type="text" name="name" id="input-1" />
	      <label class="input__label input__label--nao" for="input-1">
	        <span class="input__label-content input__label-content--nao">Nume si prenume</span>
	      </label>
	      <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
	        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
	      </svg>
	    </span>
	    <p></p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-12">
	    <span class="input input--nao">
	      <input class="input__field input__field--nao" type="text" name="email" id="input-1" />
	      <label class="input__label input__label--nao" for="input-1">
	        <span class="input__label-content input__label-content--nao">Adresa e-mail</span>
	      </label>
	      <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
	        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
	      </svg>
	    </span>
	    <p></p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-12">
	    <span class="input input--nao">
	      <input class="input__field input__field--nao" type="text" name="phone-number" id="input-1" />
	      <label class="input__label input__label--nao" for="input-1">
	        <span class="input__label-content input__label-content--nao">Numar telefon</span>
	      </label>
	      <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
	        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
	      </svg>
	    </span>
	  </div>
	</div>
	<div class="row">
	  <div class="col-12">
	    <span class="input input--nao">
	      <input class="input__field input__field--nao" type="text" name="message" id="input-1" />
	      <label class="input__label input__label--nao" for="input-1">
	        <span class="input__label-content input__label-content--nao">Mesaj</span>
	      </label>
	      <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
	        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
	      </svg>
	    </span>
	    <p></p>
	  </div>
	</div>
	<div class="text-center button-container">
	  <a class="btn-primary js-send-contact">Trimite mesaj</a>
	</div>
</form>